*{
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 40px;
    height: 40px;
    align-items: left;
}
header {
    background-color: #ffff00; /* Color primario */
    padding: 1rem;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3dbc3; /* Color de fondo general */
    color: #663300; /* Color del texto */
}

.banner {
    width: 100%;
    margin-left: 0px;
    overflow: hidden;
    margin: top;
    padding: 0px;
    float: left;
    }

header h1 {
    font-family: 'Lilita One', cursive;
    margin: 0;
    color: #663300; /* Color del texto del header */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}
nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #663300;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    padding: 10px;
}
    nav ul li a:hover{
        background-color: #854200;
        color: white;
        transition: 0.4s;
    }
main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

section {
    flex: 1;
    margin: 0 1rem;
    background-color: #fff; /* Fondo blanco para las secciones */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cupones h2, .novedades h2, .sucursales h2 {
    font-family: 'Lilita One', cursive;
    text-align: center;
    color: #663300; /* Color del texto de los títulos de secciones */
}

.cupon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.cupon {
    background-color: #f3dbc3; /* Color terciario */
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #663300;
}

.novedad-detalle h3 {
    font-family: 'Lilita One', cursive;
    margin-bottom: 0.5rem;
    color: #663300; /* Color del texto del título de la novedad */
}

.mapa {
    background-color: #ddd;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

footer {
    background-color: #663300; /* Color secundario */
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}